body
{
    background-color: black;
    margin: 0; /*Quita el margen predeterminado del body*/
    font-family: Arial, Helvetica, sans-serif;
    display: grid; /*Define un contenedor con un estilo de cuadricula*/
    grid-template-columns: 1fr 2fr 1fr; /*Columnas: izquierda-centro-derecha, el numero define el ancho de la columna*/
    grid-template-rows: auto; /*Las filas se ajustan automaticamente al contenido*/
    height: 100vh; /*Estirar el body hasta el final de la ventana del navegador*/
}

.left, .right
{
    background-color: aquamarine;
    padding: 10px;
    display: flex; /*Alinear el contenido, por defecto en filas*/
    align-items: center;
    justify-content: center;
}

.center
{
    display: flex; /*Alinear el contenido*/
    flex-direction: column; /*Colocar el contenido por columnas*/
    align-items: center; /*Alinear los elementos en el centro de manera horizontal*/
    justify-content: flex-start; /*Colocar los elementos al principio de la columna vertical*/
    /* background-color: aliceblue; */
    padding: 50px;
}

.center h1
{
    margin: 0 0 150px;
    font-size: 100px;
    color: #0D6759;
    border-color: #7AB317;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #7AB317;
}

.center button
{
    margin: 50px 0; /*Espaciado arriba y abajo*/
    padding: 10px 50px; /*Espacio interior vertical y horiontal*/
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #07af01;
    cursor: pointer; /*Cuando el cursos pasa por encima, lo cambia a la mano*/
    
    /*Ocultar el contenedor de la caja*/
    background: none;
    border: none;
    box-shadow: none;
}

.center img
{
    width: 50px;
    height: 50px;
}