@font-face {
    font-family: "star7";
    src: url(../recursos/Fuentes/star7/STAR7.ttf);
}

@font-face {
    font-family: "BackToFuture";
    src: url(../recursos/Fuentes/BackToFuture/BTTF.ttf);
}

/*--------------------------------------PAGINA INDEX--------------------------------------*/
.indexPage
{
    background-color: black;
    background-image: url(../recursos/imagenes/estrellas-en-el-universo-morado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /*Quita el margen predeterminado del body*/
    display: grid; /*Define un contenedor con un estilo de cuadricula*/
    grid-template-columns: 1fr 2fr 1fr; /*Columnas: izquierda-centro-derecha, el numero define el ancho de la columna*/
    grid-template-rows: auto; /*Las filas se ajustan automaticamente al contenido*/
    height: 100vh; /*Estirar el body hasta el final de la ventana del navegador*/
}



.centerIndex
{
    font-family: "BackToFuture", sans-serif;
    display: flex; /*Alinear el contenido*/
    flex-direction: column; /*Colocar el contenido por columnas*/
    align-items: center; /*Alinear los elementos en el centro de manera horizontal*/
    justify-content: flex-start; /*Colocar los elementos al principio de la columna vertical*/
    padding: 50px;
}

.centerIndex > h1
{
    margin: 0 0 10px;
    font-size: 100px;
    color: #00cf68;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #7AB317;
}

.centerIndex > h2
{
    margin: 0 0 50px;
    font-size: 100px;
    color: #00460c;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #152200;
}

.centerIndex > button
{
    margin: 50px 0; /*Espaciado arriba y abajo*/
    padding: 10px 50px; /*Espacio interior vertical y horiontal*/
    font-family: "BackToFuture", sans-serif;
    font-size: 70px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #07af01;
    cursor: pointer; /*Cuando el cursos pasa por encima, lo cambia a la mano*/

    /*Ocultar el contenedor de la caja*/
    background: none;
    border: none;
    box-shadow: none;
}

.centerIndex img
{
    width: 60px;
    height: 60px;
    padding: 0 10px;
}

/*--------------------------------------PAGINA OPTIONS--------------------------------------*/
.optionsPage
{
    background-color: black;
    background-image: url(../recursos/imagenes/estrellas-en-el-universo-morado.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /*Quita el margen predeterminado del body*/
    display: grid; /*Define un contenedor con un estilo de cuadricula*/
    grid-template-columns: 1fr 2fr 1fr; /*Columnas: izquierda-centro-derecha, el numero define el ancho de la columna*/
    grid-template-rows: auto; /*Las filas se ajustan automaticamente al contenido*/
    height: 100vh; /*Estirar el body hasta el final de la ventana del navegador*/
}



.centerOptions
{
    font-family: "BackToFuture", sans-serif;
    display: flex; /*Alinear el contenido*/
    flex-direction: column; /*Colocar el contenido por columnas*/
    align-items: center; /*Alinear los elementos en el centro de manera horizontal*/
    justify-content: center; /*Colocar los elementos al principio de la columna vertical*/
    padding: 50px;
}

.centerOptions > h1
{
    margin: 0 0 10px;
    font-size: 50px;
    color: #00cf68;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #7AB317;
}

.centerOptions > h2
{
    margin: 0 0 30px;
    font-size: 50px;
    color: #00460c;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #152200;
}

.centerOptions input[type="range"]
{
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(to right, #00cf68 50%, #868686 50%);
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.centerOptions input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
}

.centerOptionsContainer
{
    font-family: "star7", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 0;
    width: 80vb; /* Revisar por que creo que esto no esta bien */
}

.centerOptions label
{
    font-size: 30px;
    padding-right: 15px;
}

.centerOptions span
{
    font-size: 30px;
}

.optionsSliderContainer
{
    margin: 20px 0 20px;
}

/*--------------------------------------COMMON STYLES--------------------------------------*/
.left, .right
{
    font-family: "star7", sans-serif;
    padding: 10px;
    display: flex; /*Alinear el contenido, por defecto en filas*/
    align-items: center;
    justify-content: center;
}

.left, .right > p
{
    color: #00cf68;
}

.backButton
{
    font-family: "star7", sans-serif;
    background-color: #ff0000;
    margin: 20px 0 0;
    font-size: 50px;
    cursor: pointer;
}

.rotateImage45
{
    transform: rotate(45deg);
}